<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/SpringDIFrst/src/main/java/com/epam/SpringDependencyExample.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.TERMINATE_DESCENDANTS" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-jcl\/5.0.7.RELEASE\/spring-jcl-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-jcl=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-context\/5.0.7.RELEASE\/spring-context-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-context=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-beans\/5.0.7.RELEASE\/spring-beans-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-beans=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-core\/5.0.7.RELEASE\/spring-core-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-core=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
        <listEntry value="=SpringDIFrst/src\/main\/java=/optional=/true=/=/maven.pomderived=/true=/"/>
        <listEntry value="=SpringDIFrst/src\/main\/resources=/maven.pomderived=/true=/"/>
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-aop\/5.0.7.RELEASE\/spring-aop-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-aop=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
        <listEntry value="=SpringDIFrst/C:\/Users\/Md_Aman\/.m2\/repository\/org\/springframework\/spring-expression\/5.0.7.RELEASE\/spring-expression-5.0.7.RELEASE.jar=/maven.pomderived=/true=/=/maven.pomderived=/true=/=/maven.groupId=/org.springframework=/=/maven.artifactId=/spring-expression=/=/maven.version=/5.0.7.RELEASE=/=/maven.scope=/compile=/"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.epam.SpringDependencyExample"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="SpringDIFrst"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpringDIFrst"/>
</launchConfiguration>
