<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DemoApp</display-name>
  <servlet>
  		<servlet-name>abc</servlet-name>
  		<servlet-class>com.epam.servletadd.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>abc</servlet-name>
  		<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>pqr</servlet-name>
  		<servlet-class>com.epam.servletsq.SqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>pqr</servlet-name>
  		<url-pattern>/square</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>whatever</servlet-name>
  		<servlet-class>com.epam.session.SessionClient</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>whatever</servlet-name>
  		<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>xyz</servlet-name>
  		<servlet-class>com.epam.session.SessionExample</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>xyz</servlet-name>
  		<url-pattern>/loggedIn</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>cooker</servlet-name>
  		<servlet-class>com.epam.cookie.CookieExample</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>cooker</servlet-name>
  		<url-pattern>/loggedInCookie</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>cookerTest</servlet-name>
  		<servlet-class>com.epam.cookie.CookieClient</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>cookerTest</servlet-name>
  		<url-pattern>/logCookie</url-pattern>
  </servlet-mapping>
</web-app>